<p>Цей додаток <strong>Персональний менеджер фінансів</strong> є курсовою роботою <br>
  на навчальному курсі
  <a class="fw-bold link-primary text-decoration-none" href="https://prometheus.org.ua/prometheus-plus/ruby/"
  target="_blank">Розробка вебдодатків на Ruby від SoftServe</a> <br>
  на платформі онлайн-освіти <a class="link-primary text-decoration-none fw-bold"
                                href="https://prometheus.org.ua/" target="_blank">Prometheus</a>.
</p>
<p>Виконавець - Колос Дмитро Станіславович <br><br>
<!--  d.kolos.mail@gmail.com <br>-->
<!--  +38 099 000 00 96 <br> &nbsp;-->
</p>
