<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Персональний менеджер фінансів</h1>
  <h1 class="display-5 fw-bold text-body-emphasis">(ПМФ)</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">ПМФ - це інформаційна система для контролю персональних фінансів <br>
      (витрат / доходів)</p>
  </div>
</div>
