<%= render "form", operation: @operation %>

<br>

<div>
  <%= link_to "Show this operation", @operation, class: 'btn btn-sm btn-primary' %>
  <%= #noinspection RubyResolve
      link_to "Back to operations", operations_path, class: 'btn btn-sm btn-secondary' %>
</div>
